<div class="container-fluid">
    <div class="card" style="background-color: white;">
        <div class="row" style="text-align: center; margin: 10px;">
            <div class="col-12">
                <h2><b>PET SERVICE APPOINTMENT</b></h2>
            </div>
        </div>
        <div class="row">
          

            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="row" style="text-align: initial; margin: 10px;">
                    <div class="col-12">
                        <h2 class="mb-0"><b>Appointment Details</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img style="margin: 5px; border-radius:10px;" class="img-fluid" src="https://image.shutterstock.com/image-photo/booking-meeting-appointment-on-laptop-260nw-1930285112.jpg" alt="">
                    </div>
                    <div class="col-md-4 pt-4">
                        <p class="mt-3" style="font-size: 16px;"><b>Appointment ID : </b> &nbsp;<span style="font-size: 12px;">{{petServiceDetails.appointment_UID}}</span></p>
                        <p class="mt-3" style="font-size: 16px;"><b>Appointment Status : </b>&nbsp; <span class="badge badge-success" style="font-size: 12px;">{{petServiceDetails.appoinment_status}}</span></p>
                        <p class="mt-3" style="font-size: 14px;"><b>Booking Date : </b> &nbsp;<span style="font-size: 12px;"> <i class="fas fa-calendar-week"></i> {{petServiceDetails.booking_date}}</span></p>
                        <p class="mt-3" style="font-size: 14px;"><b>Booking Time : </b> &nbsp;<span style="font-size: 12px;"> <i class="far fa-clock"></i> {{petServiceDetails.booking_time}}</span></p>
                    </div>
                    <div class="col-md-4 pt-4 ">
                        <p class="mt-3" style="font-size: 14px;"><b>Service Name : </b>&nbsp; <span style="font-size: 12px;">{{petServiceDetails.service_name}}</span></p>
                        <p class="mt-3" style="font-size: 14px;"><b>Service Time : </b> &nbsp;<span style="font-size: 12px;"> <i class="far fa-clock"></i> {{petServiceDetails.service_time}}</span></p>
                        <p class="mt-3" style="font-size: 14px;"><b>Service Amount : </b>&nbsp; <span style="font-size: 12px;"> ₹{{petServiceDetails.service_amount}}</span></p>
                    </div>
                </div>
               
                <!-- <div class="row" style="margin: 5px;">
                
                        <div class="col-md-3">
                            <img style="margin: 5px; border-radius:10px;" class="img-fluid" src="https://images.unsplash.com/photo-1583511655857-d19b40a7a54e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80" alt="">
                        </div>
                
                    <div class="col-md-8 d-flex justify-content-start">
                        <p style="font-size: 16px;"><b>Appointment ID: </b> <span style="font-size: 12px;">{{petServiceDetails.appointment_UID}}</span></p>
                    
                        <p style="font-size: 16px;"><b>Appointment Status: </b> <span class="badge badge-success" style="font-size: 12px;">{{petServiceDetails.appoinment_status}}</span></p>
                    </div>

                    <div class="col-md-8 d-flex justify-content-start">
                        <p style="font-size: 14px;"><b>Booking Date: </b> <span style="font-size: 12px;"> <i class="fas fa-calendar-week"></i> {{petServiceDetails.booking_date}}</span></p>
                       
                        <p style="font-size: 14px;"><b>Booking Time: </b> <span style="font-size: 12px;"> <i class="far fa-clock"></i> {{petServiceDetails.booking_time}}</span></p>

                    </div>
                   
                    <div class="col-md-8 d-flex justify-content-start">
                        <p style="font-size: 14px;"><b>Service Name: </b> <span style="font-size: 12px;">{{petServiceDetails.service_name}}</span></p>
                     
                        <p style="font-size: 14px;"><b>Service Time: </b> <span style="font-size: 12px;"> <i class="far fa-clock"></i> {{petServiceDetails.service_time}}</span></p>
                      
                        <p style="font-size: 14px;"><b>Service Amount: </b> <span style="font-size: 12px;"> ₹{{petServiceDetails.service_amount}}</span></p>
                    </div>
                </div> -->
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="row" style="text-align: initial; margin: 10px;">
                    <div class="col-12">
                        <h2 class="mb-0"><b>User Details</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img style="margin: 5px; border-radius:10px; ;" class="img-fluid" src="https://www.focusedu.org/wp-content/uploads/2018/12/circled-user-male-skin-type-1-2.png" alt="">
                    </div>
                    <div class="col-md-4 pt-4">

                        <p style="font-size: 16px;"><b>Client name : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.user_id.first_name | titlecase}}&nbsp;{{petServiceDetails.user_id.last_name | titlecase}}</span></p>
                     
                        <p style="font-size: 16px;"><b>Customer Email : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.user_id.user_email}}</span></p>
                    </div>
                    <div class="col-md-4 pt-4">

                        <p style="font-size: 16px;"><b>Customer Phone : </b> &nbsp;<span style="font-size: 14px;">{{petServiceDetails.user_id.user_phone | titlecase}}&nbsp;</span></p>
                      
                        <p style="font-size: 16px;"><b>Mobile Type : </b> &nbsp;<span style="font-size: 14px;">{{petServiceDetails.user_id.mobile_type}}</span></p>
            
                    </div>
                </div>              
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="row" style="text-align: initial; margin: 10px;">
                    <div class="col-12">
                        <h2 class="mb-0"><b>Pet Details</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img style="margin: 5px; border-radius:10px;" class="img-fluid" src="https://images.unsplash.com/photo-1583511655857-d19b40a7a54e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80" alt="">
                    </div>
                    
                 
                    <div class="col-md-4 pt-2">
                        <p style="font-size: 16px;"><b>PET Breed : </b> &nbsp;<span style="font-size: 14px;">{{petServiceDetails.pet_id.pet_breed}}</span></p>
                        <p style="font-size: 16px;"><b>PET Name : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.pet_id.pet_name}}</span></p>
                        <p style="font-size: 16px;"><b>PET Vaccinated : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.pet_id.vaccinated}}</span></p>
                    </div>
                    <div class="col-md-4 pt-2">
                        <p style="font-size: 16px;"><b>PET Color : </b> &nbsp;<span style="font-size: 14px;">{{petServiceDetails.pet_id.pet_color}}</span></p>
                        <p style="font-size: 16px;"><b>PET Type : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.pet_id.pet_type}}</span></p>
                        <p style="font-size: 16px;"><b>PET Age : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.pet_id.pet_age}}</span></p>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="row" style="text-align: initial; margin: 10px;">
                    <div class="col-12">
                        <h2 class="mb-0"><b>SP Details</b></h2>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-2">
                        <img style="margin: 5px; border-radius:10px;" class="img-fluid" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg" alt="">
                    </div>
                    
                 
                    <div class="col-md-8 pt-4">
                        <p style="font-size: 16px;"><b>SP Location : </b> &nbsp;<span style="font-size: 14px;">{{petServiceDetails. sp_business_info[0].sp_loc}}</span></p>
                        <p style="font-size: 16px;"><b>Rating : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.sp_business_info[0].rating}}</span></p>
                        <!-- <p style="font-size: 16px;"><b>PET Vaccinated : </b>&nbsp; <span style="font-size: 14px;">{{petServiceDetails.pet_id.vaccinated}}</span></p> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
