<h4 class="title">Pet Care Appointments</h4>
<div class="row">
    <div class="col-md-4">
        <div class="search-hero">
            <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
        </div>
    </div>
    <!-- <div class="col-md-8 text-right">
        <button type="button" class="btn btn-primary mr-0" (click)="doc_form()">Add</button>
    </div> -->
</div>
<div class="row">
  <div class="col-md-4">
      <h5 class="form-lable">Start Date</h5>
      <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
  </div>
  <div class="col-md-4">
      <h5 class="form-lable">End Date</h5>
      <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
  </div>
</div>
<div class="doc-table">

<p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
    <!-- <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="50">
                <h5 style="color:#fff;">Entry Type List</h5>
            </div>
            <div fxFlex="50">
                <div class="ui-table-globalfilter-container">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" (input)="tt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Entry Type">
                </div>
            </div>

        </div>

    </ng-template> -->
    <ng-template pTemplate="header">
        <tr class="thhead">
            <th class="th-1">
                S.No
            </th>
            <th>
                Order No
            </th>
            <th>
                Health Checkup  Type
            </th>
            <th>
                Customer Name
            </th>
            <th>Customer Phone </th>
            <th>Pet Type</th>
            <th>Pet Breed</th>
            <th>Pet Name</th>
            <th>Amount</th>
            <th>Doctor Name</th>
            <th>Appointment Date & Time</th>
            <th>Appointment Type </th>
            <th>Ailment Details</th>
            <th>Status</th>
            <th>Booking Date & Time</th>
            <th>Created by</th>
            <th>Modified by</th>
            <th>Created at</th>
            <th>Modified at</th>
            <th style="width: 110px;text-align:center">
                Action
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr class="tdrow">
            <td>{{i+1}}</td>
            <td>12345</td>
            <td>Checkup  Type-1</td>
            <td>Vignesh</td>
            <td>9876543210</td>
            <td>Pet type-1</td>
            <td>Pet Breed-1</td>

            <td>Test name</td>
            <td>1200</td>
            <td>Test name</td>
            <td>9/25/2020 1:45 PM</td>
            <td>Online</td>
            <td>Lorem ipsum, or lipsum as it is sometimes known,</td>
           <td>Status-1</td>
           <td>9/15/2020 1:45 PM</td>
           <td>
                User
            </td>
            <td>
                Admin
            </td>
            <td>
                16-09-2020
            </td>
            <td>
                17-09-2020
            </td>
            <td class="act">
                <i style="color: #2196f3;" class="fa fa-pencil-square-o" aria-hidden="true" pTooltip="Edit"></i>
                <i style="color: #4CAF50;" class="fa  fa-clock-o" aria-hidden="true" pTooltip="Reschedule"></i>
                <i style="color: #fd2c3a;" class="fa fa-ban" aria-hidden="true" pTooltip="Disable"></i>
                <i style="color: #31ccfc;" class="fa fa-info-circle" aria-hidden="true" (click)="view_details()"  pTooltip="View Details"></i>

            </td>
        </tr>
    </ng-template>
</p-table>

</div>
