<section>
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mb-1">Notification</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Details</li>
            </ol>
        </div>

    </div>




    <!-- New Box -->

    <div class="row row-sm">

        <div class="col-lg-4">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="card-item">
                        <h3><strong>Message Box</strong></h3>
                        <!-- send form-->
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label> Title</label>
                                <input  [(ngModel)]="title" class="form-control" type="text" name="header" placeholder="Title...">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>Sub Title</label>
                                <input  [(ngModel)]="sub_title" class="form-control" type="text" name="header" placeholder="Sub Title...">
                            </div>
                            <div class="col-md-12 mb-2">
                                <label>Message Box</label>
                                <textarea  [(ngModel)]="message" class="form-control" cols="3"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button (click)="send()" type="button" class="btn btn-secondary mr-0"><i class="fas fa-paper-plane"></i>
                                    Send</button>
                            </div>
                        </div>
                        <!-- end send form -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="card-item">

                        <div class="col-md-8">
                            <div class="search-hero">
                                <div class="input-group mb-3">
                                   <div class="input-group-prepend">
                                     <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                                   </div>
                                   <input class="form-control" type="text" name="search2"
                               [(ngModel)]="searchQR" autocomplete="off" placeholder="Search...">
                                 </div>
                              </div>
                        </div>

                        <div class="doc-table">
                            <p-table [value]="user_list | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="15"
                                [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="['type']">

                                <ng-template pTemplate="header">
                                    <tr class="thhead">
                                        <th class="th-1"> S.No </th>
                                        <th>Select All <input type="checkbox" (click)="selectall($event)"/> </th>
                                        <th> Name </th>
                                        <th> Email </th>
                                        <th> Phone</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-i="rowIndex">
                                    <tr class="tdrow">
                                        <td>{{i+1}}</td>
                                        <td> <input type="checkbox" [checked]="chk" (click)="select($event, item)" name="all"/> </td>
                                        <td class="truncate-cell">{{item.first_name}} {{item.last_name}}</td>
                                        <td class="truncate-cell">{{item.user_email}}</td>
                                        <td>{{item.user_phone}}</td>
                                    </tr>
                                </ng-template>

                            </p-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>