@import "../../../../assets/css/style.css";
:host::ng-deep .ui-table table {
    border-collapse: collapse;
    width: 1200px !important;
}
:host::ng-deep .ui-table-wrapper{
    overflow-x: scroll;
    }