<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }
</style>

<body class="w3-theme-l5">

  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <span class="w3-right"> <img src="../../../../assets/images/einstein.jpg" alt="" class=""
        style="width: 47px; height: 41px; border-radius: 20px 22px;"></span>
    <p>Hello</p>
    <h4><b>Samuel Water</b></h4>
    <div class="container d-flex justify-content-center">
      <div class="jumbotron" style="background-color: navy; border-radius: 25px 25px; height: 190px; width: 305px; ">
        <p style="color: #fcfcfc;">Total Balance
        <p>
        <p class="lead" style="font-size: 30px; color: white; "><b>$27.208.05 </b>&nbsp; <span
            style="color: turquoise; text-align: center; font-size: 15px;">&#8593; 15%</span> </p>
      </div>
    </div>

    <div class="container d-flex justify-content-center" style="font-size: 15px;">
      <div class="row ">
        <div class="col-3" style="padding:0px; ">
          <div class="row">
            <div class="col-12">
              <img src="../../../../assets/images/sent.png" alt="" class="img-fluid"
                style="height: 50px; width: 50px; ">
            </div>
            <div class="col-12">
              <p> <b> Sent</b></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <img src="../../../../assets/images/receive.png" alt="" class="img-fluid"
                style="height: 50px; width: 50px;">
            </div>
            <div class="col-12">
              <p><b>Resquest</b></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <img src="../../../../assets/images/piggy-bank.png" alt="" class="img-fluid"
                style="height: 50px; width: 50px;">
            </div>
            <div class="col-12">
              <p><b>Loan</b></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <img src="../../../../assets/images/money-bag.png" alt="" class="img-fluid"
                style="height: 50px; width: 50px;">
            </div>
            <div class="col-12">
              <p><b>TopUp</b></p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <span class="w3-right"><a href="" style="color: red;">View all</a></span>
    <h4><b>Recent Transaction</b></h4>

    <div class="container-fluid d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary"
        style="width: 130px; margin-right: 15px;"><b>All</b></button>
      <button type="button" class="btn btn-outline-primary"
        style="width: 130px; margin-right: 15px;"><b>Income</b></button>
      <button type="button" class="btn btn-outline-primary" style="width: 130px; "><b>Outcome</b></button>
    </div>
    <ng-container *ngFor="let item of payment_list">
      <div class="container-fluid" style="margin-top: 15px;">
        <div class="row d-flex justify-content-center">
          <div class="col-3">
            <img src="../../../../assets/images/dollar.png" alt="" class="img-fluid"
              style="height: 50px; width: 50px; border-radius: 10px 10px; ">
          </div>
          <div class="col-5">
            <b>{{item.appointment_UID}}</b>
            <p>{{item.payment_id}}</p>
          </div>
          <div class="col-3">
            <b style="color: rgb(50, 224, 207);">{{item.amount}}</b>
            <p>{{item.display_date}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <script>
    // Accordion
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
      } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-theme-d1", "");
      }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>


<router-outlet></router-outlet>