<div class="container">
    <h3 style="font-weight: bold">Available times</h3>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="12" [(ngModel)]="selectedCities" inputId="1"></p-checkbox>
            <label for="mo">12:00AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="12:15" [(ngModel)]="selectedCities" inputId="2"></p-checkbox>
            <label for="tu">12:15AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="12:30" [(ngModel)]="selectedCities" inputId="3"></p-checkbox>
            <label for="wed">12:30AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="12:45" [(ngModel)]="selectedCities" inputId="4"></p-checkbox>
            <label for="th">12:45AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="01:00" [(ngModel)]="selectedCities" inputId="5"></p-checkbox>
            <label for="fr">01:00AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="01:15" [(ngModel)]="selectedCities" inputId="6"></p-checkbox>
            <label for="fr">01:15AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="01:30" [(ngModel)]="selectedCities" inputId="7"></p-checkbox>
            <label for="fr">01:30AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="01:45" [(ngModel)]="selectedCities" inputId="8"></p-checkbox>
            <label for="fr">01:45AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="02:00" [(ngModel)]="selectedCities" inputId="9"></p-checkbox>
            <label for="fr">02:00AM</label>
        </div>
    </div>
    <div class="item-container">
        <div class="p-field-checkbox">
            <p-checkbox name="group1" value="02:15" [(ngModel)]="selectedCities" inputId="10"></p-checkbox>
            <label for="fr">02:15AM</label>
        </div>
    </div>
    <button (click)="Filter()" type="button" class="btn btn-success btn-sm mr-2">submit</button>
</div>