<div class="container mt-3rem">
  <h3 style="font-weight: bold">Available days</h3>

  <ng-container *ngFor="let arr of calendarlist; let i= index;">
    <div class="item-container">
      <div class="p-field-checkbox">
        <input type="checkbox" [(ngModel)]="schedule[i]" *ngIf="arr.Status !== true" [ngModelOptions]="{standalone: true}" />
        <!-- <p-checkbox [(ngModel)]="schedule[i]"></p-checkbox> -->
        <label class="ml-10px" for="mo">{{arr.Title}}</label>
      </div>
      <ng-container *ngIf="arr.Status == true">
        <button (click)="Filter(arr.Title)"><i class="fas fa-pen"></i></button>
      </ng-container>
    </div>
  </ng-container>

  <button type="button" class="btn btn-success btn-sm mr-2" (click)="next_funcation()">
    Next
  </button>
  <mat-card>
    <mat-card-content>
      <!-- <h2 class="example-h2">Checkbox configuration</h2> -->

      <!-- <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
    </section> -->
      <!-- <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues">Checked</p-checkbox>
    <p-checkbox name="groupname" value="val2" [(ngModel)]="selectedValues">indeterminate</p-checkbox> -->
    </mat-card-content>
  </mat-card>
</div>
