<mat-card>
 <div class="card-box shadow">
  <div class="row">
   <div class="col-md-3">
    <img class="logo-dark" src="../../../../assets/images/logo_bg.png" alt="Logo" style="height: 100px;">
   </div>
   <div class="col-md-9">
    <h1 style="font-size: 25px;">Appointment missed</h1>
    <span style="font-size: 18px;">you have missed the appointment of PET-1620016650414 at 05-05-2021 01:00 AM</span>
    <div style="font-weight: 200;">
     05-05-2021 01:00 AM
    </div>
   </div>
  </div>
 </div>
 <div class="card-box shadow">
  <div class="row">
   <div class="col-md-3">
    <img class="logo-dark" src="../../../../assets/images/logo_bg.png" alt="Logo" style="height: 100px;">
   </div>
   <div class="col-md-9">
    <h1 style="font-size: 25px;">Appointment remainder</h1>
    <span style="font-size: 18px;">you have an appointment of PET-1620016650414 at 04-05-2021 02:00 AM</span>
    <div style="font-weight: 200;">
     04-05-2021 02:00 AM
    </div>
   </div>
  </div>
 </div>
 <div class="card-box shadow">
  <div class="row">
   <div class="col-md-3">
    <img class="logo-dark" src="../../../../assets/images/logo_bg.png" alt="Logo" style="height: 100px;">
   </div>
   <div class="col-md-9">
    <h1 style="font-size: 25px;">Appointment missed</h1>
    <span style="font-size: 18px;">you have missed the appointment of PET-1620016650414 at 04-05-2021 01:00 AM</span>
    <div style="font-weight: 200;">
     04-05-2021 01:00 AM
    </div>
   </div>
  </div>
 </div>
 <div class="card-box shadow">
  <div class="row">
   <div class="col-md-3">
    <img class="logo-dark" src="../../../../assets/images/logo_bg.png" alt="Logo" style="height: 100px;">
   </div>
   <div class="col-md-9">
    <h1 style="font-size: 25px;">Appointment remainder</h1>
    <span style="font-size: 18px;">you have an appointment of PET-1620016650414 at 05-05-2021 03:00 AM</span>
    <div style="font-weight: 200;">
     05-05-2021 03:00 AM
    </div>
   </div>
  </div>
 </div>

 <div class="card-box shadow">
  <div class="row">
   <div class="col-md-3">
    <img class="logo-dark" src="../../../../assets/images/logo_bg.png" alt="Logo" style="height: 100px;">
   </div>
   <div class="col-md-9">
    <h1 style="font-size: 25px;">Appointment remainder</h1>
    <span style="font-size: 18px;">you have an appointment of PET-1620016650414 at 06-05-2021 03:00 AM</span>
    <div style="font-weight: 200;">
     06-05-2021 03:00 AM
    </div>
   </div>
  </div>
 </div>
</mat-card>