<section class="login_box">
  <section class="login-box__section">
    <div class="page-header">
      <div>
        <h2 class="main-content-title tx-24 mb-1" style="color: #fff; padding-left: 500px">
          Doctor Registration
        </h2>
      </div>
    </div>
    <div class="card-box">
      <div class="row" style="padding: 0px 0px 23px 10px">
        <div class="col-md-12" style="margin-top: 20px">
          <h4 class="title title-box">
            Doctor Info
          </h4>
        </div>
        <div class="col-md-6 py-7">
          <h5 class="form-lable">First Name:</h5>
          <input type="text" class="input" pInputText [(ngModel)]="tittle" placeholder="Doctor First Name" />
        </div>
        <div class="col-md-6 py-7">
          <h5 class="form-lable">Last Name:</h5>
          <input type="text" pInputText [(ngModel)]="Name" placeholder="Doctor Last Name" />
        </div>
        <div class="col-md-6 py-7">
          <h5 class="form-lable">Email ID:</h5>
          <input type="text" pInputText [(ngModel)]="Email" (ngModelChange)="EmailidChange($event)"
            placeholder="Email ID" />
          <div *ngIf="Email_idError" class="mt-1 error">
            <div class="text-danger">Valid Email Address Required.</div>
          </div>
          <div *ngIf="Validation == false && Email_id == undefined" class="mt-1 error">
            <div class="text-danger">Valid Email Address Required.</div>
          </div>
        </div>
        <div class="col-md-6 py-7">
          <h5 class="form-lable">Phone Number:</h5>
          <input type="text" pInputText [(ngModel)]="Phone" placeholder="Phone Number" maxlength="10"
            (keypress)="_keyPress($event)" />
          <div *ngIf="
              Validation == false &&
              (Phone == undefined || Phone == '' || Phone.length != 10)
            " class="mt-1 error">
            <div class="text-danger">Phone Number is Required.</div>
          </div>
        </div>
        <div class="col-md-12 mt-20">
          <button type="button" class="btn btn-primary" (click)="create_1()">
            Proceed
          </button>

          <button type="button" class="btn btn-primary btn-bg-blue" (click)="back()">
            Back to Login
          </button>
        </div>

        <ng-container *ngIf="Validation">
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-12 py-7">
                <h4 class="form-lable title-box" style="font-weight: 600;">
                  Add Education
                </h4>
              </div>
              <div class="col-md-5">
                <h5 class="form-lable" style="color: #000 !important">
                  Education:
                </h5>
                <input type="text" pInputText [(ngModel)]="Education" placeholder="Education" />
              </div>
              <div class="col-md-6">
                <h5 class="form-lable" style="color: #000 !important">
                  Year of completion:
                </h5>
                <input type="text" pInputText [(ngModel)]="completion" placeholder="Completion" />
              </div>
              <div class="col-md-1 text-right">
                <i class="fa fa-plus add-icon" (click)="addcompletion()" aria-hidden="true" pTooltip="Add"></i>
              </div>
            </div>
            <table *ngIf="Completionarray.length > 0" class="spec-table">
              <thead>
                <th>S.No</th>
                <th>Education</th>
                <th>Year of completion</th>
                <th>Remove</th>
              </thead>
              <tbody>
                <tr *ngFor="let arr of Completionarray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ arr.education }}</td>
                  <td>{{ arr.year }}</td>
                  <td>
                    <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                      (click)="remove_completion(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 py-6">
                <!-- <h5 class="form-lable" style="font-weight: 600">
                  Add Experience
                </h5> -->
              </div>
              <div class="col-md-5">
                <h5 class="form-lable" style="color: #000 !important">
                  Company:
                </h5>
                <input type="text" pInputText [(ngModel)]="CName" placeholder="Company Name" />
              </div>
              <div class="col-md-3">
                <h5 class="form-lable" style="color: #000 !important">From:</h5>
                <!-- <p-calendar [(ngModel)]="f_date" [showIcon]="true" inputId="icon"></p-calendar>

                  YEAR PICKER: -->
                <!-- <jp-multi-datepicker tabindex="-1" mode="YEAR" label="Choose a year" [(ngModel)]="chosenYearDate"
                  [max]="2021"></jp-multi-datepicker><br>
                {{chosenYearDate}} -->
                <input type="text" pInputText [(ngModel)]="f_date" placeholder="year" />
              </div>
              <div class="col-md-3">
                <h5 class="form-lable" style="color: #000 !important">To:</h5>
                <!-- <p-calendar [(ngModel)]="T_date" [showIcon]="true" inputId="icon"></p-calendar> -->
                <input type="text" pInputText [(ngModel)]="T_date" placeholder="year" />
              </div>
              <div class="col-md-1 text-right">
                <i class="fa fa-plus add-icon" (click)="addExperience()" aria-hidden="true" pTooltip="Add"></i>
              </div>
              <div class="col-md-5">
                <h5 class="form-lable" style="color: #000 !important;">Experience:</h5>
                <!-- <p-dropdown [options]="Exp" [(ngModel)]="Experience" placeholder="Select" optionLabel="y" [showClear]="true"></p-dropdown> -->
                <input style=" padding-bottom: 10px; margin-bottom: 20px;" type="number" pInputText
                  [(ngModel)]="Experience" placeholder="Experience" />
              </div>
            </div>
            <table *ngIf="Experiencearray.length > 0" class="spec-table">
              <thead>
                <th>S.No</th>
                <th>Company</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>yearsofexperience</th>
                <th>Remove</th>
              </thead>
              <tbody>
                <tr *ngFor="let arr of Experiencearray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ arr.company }}</td>
                  <td>{{ arr.from }}</td>
                  <td>{{ arr.to }}</td>
                  <td>{{ arr.to }}</td>
                  <td>
                    <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                      (click)="remove_Experience(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="col-md-6">
                    <h5 class="form-lable">Year of completion :</h5>
                    <p-dropdown [options]="years" [(ngModel)]="completion" placeholder="Select" optionLabel="y" [showClear]="true"></p-dropdown>
                </div>
                <div class="col-md-6">
                    <h5 class="form-lable">Experience:</h5>
                    <p-dropdown [options]="Exp" [(ngModel)]="Experience" placeholder="Select" optionLabel="y" [showClear]="true"></p-dropdown>
                </div> -->
          <div class="col-md-12">
            <h4 class="form-lable title-box" style="font-weight: 600">
              Specialization & pets handled:
            </h4>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-10">
                <h5 class="form-lable" style="font-weight: 600;">
                  Add Specialization
                </h5>
                <select [(ngModel)]="Specialization">
                  <option value="undefined" style="display: none">
                    Select Specializations
                  </option>
                  <option *ngFor="
                      let arr of dropdownslist.specialzation;
                      let i = index
                    ">
                    {{ arr.specialzation }}
                  </option>
                </select>
                <!-- <input type="text" pInputText [(ngModel)]="Specialization" placeholder="Specialization"> -->
              </div>
              <div class="col-md-2 text-center">
                <i class="fa fa-plus add-icon" (click)="addSpecialization()" aria-hidden="true" pTooltip="Add"></i>
              </div>
            </div>
            <table *ngIf="Specializationarray.length > 0" class="spec-table">
              <thead>
                <th>S.No</th>
                <th>Specialization</th>
                <th>Remove</th>
              </thead>
              <tbody>
                <tr *ngFor="let arr of Specializationarray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ arr.specialization }}</td>
                  <td>
                    <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                      (click)="remove_Specialization(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-10">
                <h5 class="form-lable" style="font-weight: 600">
                  Add Pets handled:
                </h5>
                <select [(ngModel)]="handled">
                  <option value="undefined" style="display: none">
                    Select Pets handled
                  </option>
                  <option *ngFor="let arr of dropdownslist.pet_handle; let i = index">
                    {{ arr.pet_handle }}
                  </option>
                </select>
                <!-- <input type="text" pInputText [(ngModel)]="handled" placeholder="handled"> -->
              </div>
              <div class="col-md-2 text-right">
                <i class="fa fa-plus add-icon" (click)="addhandled()" aria-hidden="true" pTooltip="Add"></i>
              </div>
            </div>
            <table *ngIf="handledarray.length > 0" class="spec-table">
              <thead>
                <th>S.No</th>
                <th>handled</th>
                <th>Remove</th>
              </thead>
              <tbody>
                <tr *ngFor="let arr of handledarray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ arr.pet_handled }}</td>
                  <td>
                    <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                      (click)="remove_handled(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="col-md-6">
                    <h5 class="form-lable">Pets handled:</h5>
                    <input type="text" pInputText [(ngModel)]="handled" placeholder="Pets handled">
                </div> -->
          <div class="col-md-12">
            <h4 class="form-lable title-box" style="font-weight: 600;">
              Clinic Info
            </h4>
          </div>
          <div class="col-md-6 py-7">
            <h5 class="form-lable" style="font-weight: 600">Clinic Name:</h5>
            <input type="text" pInputText [(ngModel)]="Clinic_Name" placeholder="Clinic Name" />
          </div>

          <!-- <input type="text" pInputText [(ngModel)]="address" placeholder="Clinic Location"> -->
          <!-- <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="address"></textarea> -->

          <div class="col-md-6 py-7" style="margin-bottom: 15px">
            <h5 class="form-lable" style="font-weight: 600">
              Clinic Image:
            </h5>
            <input type="file" #imgType (change)="fileupload($event, 'Clinic')" id="imgfile" accept=".png, .jpg, .jpeg"
              class="form-control" id="city" placeholder="User type icon" />
            <!-- <div style="font-size: 11px;text-align: right;color: gray;font-weight: 600;">Upload the user type icon with 100 * 100 (Max 200 kB)</div> -->
            <!-- <img *ngIf="img_path != undefined" src="{{img_path}}" style="width: 20px;"> -->
            <!-- <i class="fa fa-plus add-icon" (click)="addhandled()" aria-hidden="true" pTooltip="Add"></i> -->
            <table *ngIf="clinic_arr.length > 0" class="spec-table" style="margin-top: 8px">
              <thead>
                <th>S.No</th>
                <th>Clinic Image</th>
                <th>Remove</th>
              </thead>
              <tbody>
                <tr *ngFor="let arr of clinic_arr; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <img src="{{ arr.clinic_pic }}" style="width: 20px" />
                  </td>

                  <td>
                    <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                      (click)="remove_clinic_img(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <h4 class="form-lable title-box" style="font-weight: 600;">
              Clinic Location
            </h4>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 py-7">
              <h5 class="form-lable" style="font-weight: 600; margin-bottom: 15px">
                Clinic Location:
              </h5>
              <input [(ngModel)]="address" ngx-google-places-autocomplete [options]="options" #placesRef="ngx-places"
                (onAddressChange)="handleAddressChange($event)" />
            </div>
          </div>
          <div class="map">
            <agm-map [latitude]="base_lat" [longitude]="base_lng" [zoom]="zoom" [disableDefaultUI]="false"
              [zoomControl]="false">
              <agm-marker [latitude]="location_lat" [longitude]="location_lng" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">
                <agm-info-window>
                  <strong>{{ address }}</strong>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
          <div class="col-md-6 py-7">
            <h5 class="form-lable" style="font-weight: 600">Latitude:</h5>
            <input type="text" pInputText [(ngModel)]="Latitude" placeholder="Latitude" />
          </div>
          <div class="col-md-6 py-7">
            <h5 class="form-lable" style="font-weight: 600">Longitude:</h5>
            <input type="text" pInputText [(ngModel)]="Longitude" placeholder="Longitude" />
          </div>
          <div class="col-md-12">
            <h4 class="form-lable title-box" style="font-weight: 600;">
              Documents
            </h4>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6" style="margin-bottom: 15px">
                <h5 class="form-lable" style="font-weight: 600">
                  Govt ID proof:
                </h5>
                <input type="file" #imgType (change)="fileupload($event, 'Govt')" id="imgfile"
                  accept=".png, .jpg, .jpeg" class="form-control" id="city" placeholder="User type icon" />
                <!-- <div style="font-size: 11px;text-align: right;color: gray;font-weight: 600;">Upload the user type icon with 100 * 100 (Max 200 kB)</div> -->
                <!-- <img *ngIf="img_path != undefined" src="{{img_path}}" style="width: 20px;"> -->

                <!-- <i class="fa fa-plus add-icon" (click)="addhandled()" aria-hidden="true" pTooltip="Add"></i> -->
                <table *ngIf="govt_arr.length > 0" class="spec-table" style="margin-top: 8px">
                  <thead>
                    <th>S.No</th>
                    <th>Govt ID proof</th>
                    <th>Remove</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let arr of govt_arr; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <img src="{{ arr.govt_id_pic }}" style="width: 20px" />
                      </td>

                      <td>
                        <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                          (click)="remove_govt_img(i)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <h5 class="form-lable" style="font-weight: 600">
                  Photo ID proof:
                </h5>
                <input type="file" #imgType (change)="fileupload($event, 'Photo')" id="imgfile"
                  accept=".png, .jpg, .jpeg" class="form-control" id="city" placeholder="User type icon" />
                <!-- <div style="font-size: 11px;text-align: right;color: gray;font-weight: 600;">Upload the user type icon with 100 * 100 (Max 200 kB)</div> -->
                <!-- <img *ngIf="img_path != undefined" src="{{img_path}}" style="width: 20px;"> -->
                <!-- <i class="fa fa-plus add-icon" (click)="addhandled()" aria-hidden="true" pTooltip="Add"></i> -->
                <table *ngIf="photo_arr.length > 0" class="spec-table" style="margin-top: 8px">
                  <thead>
                    <th>S.No</th>
                    <th>Photo ID proof</th>
                    <th>Remove</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let arr of photo_arr; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <img src="{{ arr.photo_id_pic }}" style="width: 20px" />
                      </td>
                      <td>
                        <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                          (click)="remove_photo_img(i)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <h5 class="form-lable" style="font-weight: 600">
                  Certificate:
                </h5>
                <input type="file" #imgType (change)="fileupload($event, 'Certificate')" id="imgfile"
                  accept=".png, .jpg, .jpeg" class="form-control" id="city" placeholder="User type icon" />
                <!-- <div style="font-size: 11px;text-align: right;color: gray;font-weight: 600;">Upload the user type icon with 100 * 100 (Max 200 kB)</div> -->
                <!-- <img *ngIf="img_path != undefined" src="{{img_path}}" style="width: 20px;"> -->
                <!-- <i class="fa fa-plus add-icon" (click)="addhandled()" aria-hidden="true" pTooltip="Add"></i> -->
                <table *ngIf="certificate_arr.length > 0" class="spec-table" style="margin-top: 8px">
                  <thead>
                    <th>S.No</th>
                    <th>Certificate</th>
                    <th>Remove</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let arr of certificate_arr; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <img src="{{ arr.certificate_pic }}" style="width: 20px" />
                      </td>
                      <td>
                        <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                          (click)="remove_Certificate_img(i)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6" style="margin-bottom: 15px">
                <h5 class="form-lable" style="font-weight: 600">
                  Signature ID proof:
                </h5>
                <input type="file" #imgType (change)="fileupload($event, 'sign')" id="imgfile"
                  accept=".png, .jpg, .jpeg" class="form-control" id="city" placeholder="User type icon" />
                <!-- <div style="font-size: 11px;text-align: right;color: gray;font-weight: 600;">Upload the user type icon with 100 * 100 (Max 200 kB)</div> -->
                <!-- <img *ngIf="img_path != undefined" src="{{img_path}}" style="width: 20px;"> -->

                <!-- <i class="fa fa-plus add-icon" (click)="addhandled()" aria-hidden="true" pTooltip="Add"></i> -->
                <table *ngIf="sign_arr.length > 0" class="spec-table" style="margin-top: 8px">
                  <thead>
                    <th>S.No</th>
                    <th>Sign ID proof</th>
                    <th>Remove</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let arr of sign_arr; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <img src="{{ arr.sign_id_pic }}" style="width: 20px" />
                      </td>

                      <td>
                        <i style="color: #fd2c3a" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"
                          (click)="remove_sign_img(i)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12" style="margin-top: 20px">
                <h4 class="title title-box">
                  Appointment details
                </h4>
              </div>
              <div class="col-md-6 py-7">
                <h5 class="form-lable">Consultation type</h5>
                <select [(ngModel)]="CType">
                  <option value="undefined" style="display: none">
                    Select Type
                  </option>
                  <option *ngFor="
                      let arr of communication;
                      let i = index
                    ">
                    {{ arr.type }}
                  </option>
                </select>
                <!-- <input type="text" pInputText [(ngModel)]="communication" placeholder="Consultation type" /> -->
              </div>
              <div class="col-md-6 py-7">
                <h5 class="form-lable">consultancy fees</h5>
                <input type="number" pInputText [(ngModel)]="fee" placeholder="consultancy fees" />
              </div>
              <!-- <div class="col-md-6" style="margin-top: 20px">
                <h5 class="form-lable" style="font-weight: 600">
                  Available Day:
                </h5>
                <p-multiSelect [options]="datelist" [(ngModel)]="selectdate" defaultLabel="Select" optionLabel="day">
                </p-multiSelect>
              </div>
              <div class="col-md-6" style="margin-top: 20px">
                <h5 class="form-lable" style="font-weight: 600">
                  Available Time:
                </h5>
                <p-multiSelect [options]="timelist" [(ngModel)]="selecttime" defaultLabel="Select" optionLabel="time">
                </p-multiSelect>
              </div> -->
              <!-- <div class="col-md-12 mt-20">
                            <h5 class="form-lable">Clinic Images:</h5>
                            <input type="file" pInputText [(ngModel)]="value1">
                            <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple"
                                accept="image/*" maxFileSize="1000000">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div> -->
            </div>
          </div>
          <div class="col-md-12 mt-20">
            <button type="button" class="btn btn-primary" (click)="create()">
              Save
            </button>

            <!-- <button type="button" class="btn btn-primary btn-bg-blue" (click)="cancel()">Cancel</button> -->
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</section>
