<mat-drawer-container class="example-container" [ngClass]="{'menuslider' : menu_slider}">
    <mat-drawer class="side" mode="side" opened>
        <mat-nav-list>
            <mat-list-item (click)="menuslide()">
                <mat-icon class="menuBar"> notes</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="dashboard" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="fab fa-slideshare" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Dashboard</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="doctor-profile" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="far fa-address-card" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Profile edit</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="appointment-list" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="far fa-address-book" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Appointments list</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="doctor-edit-calendar" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="far fa-calendar-alt" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Edit calendar</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="doctor_payment_details" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="fas fa-money-check-alt" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Payment details</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="doctor-notification" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="far fa-envelope" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Notification</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="doctor-reschedule-appointment" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="far fa-calendar-check" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Reschedule appointment</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="doctor-holiday" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="fas fa-calendar-day" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Holiday</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="doctor-support" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="fas fa-info-circle" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Support</h5>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <section class="container-fluid">
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-content>
</mat-drawer-container>