<mat-drawer-container class="example-container" [ngClass]="{'menuslider' : menu_slider}">
    <mat-drawer class="side" mode="side" opened>
        <mat-nav-list>
            <mat-list-item (click)="menuslide()">
                <mat-icon class="menuBar"> notes</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="dashboard" routerLinkActive="active">
                <mat-icon mat-list-icon><i class="fab fa-slideshare" aria-hidden="true"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Dashboard</h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="client-details" routerLinkActive="active">
              <mat-icon mat-list-icon><i class="far fa-calendar-check" aria-hidden="true"></i></mat-icon>
              <div fxFlex="10"></div>
              <div class="sidenav-item">
                  <h5 class="lead">Client Details</h5>
              </div>
             </mat-list-item>


            <mat-list-item style="padding-left: 5px;" routerLink="Walkin_Appointment" routerLinkActive="active">
              <mat-icon mat-list-icon><i class="fas fa-user-clock"></i>
              </mat-icon>
              <div fxFlex="10"></div>
              <div class="sidenav-item">
                  <h5 class="lead">Walk-in Appointments
                  </h5>
              </div>
          </mat-list-item>


          <mat-list-item routerLink="appointment-list" routerLinkActive="active">
            <mat-icon mat-list-icon><i class="far fa-address-book" aria-hidden="true"></i></mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Petfolio Appointments</h5>
            </div>
          </mat-list-item>


          <mat-list-item routerLink="doctor-reschedule-appointment" routerLinkActive="active">
            <mat-icon mat-list-icon><i class="far fa-calendar-check" aria-hidden="true"></i></mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Rescheduled Appointments</h5>
            </div>
           </mat-list-item>


           <mat-list-item routerLinkActive="active" (click)="expand3 = !expand3">
            <mat-icon  mat-list-icon><i class="fa fa-money-check-alt"
                    aria-hidden="true"
                    ></i></mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Payment Details</h5>
            </div>
            <div class="sb-sidenav-collapse-arrow">
                <i *ngIf="!expand3" class="fas fa-chevron-down" aria-hidden="true"></i>
                <i *ngIf="expand3" class="fas fa-chevron-up" aria-hidden="true"></i>
            </div>
              </mat-list-item>
              <mat-nav-list style="background: #125071;padding-left: 5px;" *ngIf="expand3">
                <div class="sub-menu">
                  <mat-list-item style="padding-left: 5px;" routerLink="apppayment"
                      routerLinkActive="active">
                      <mat-icon  mat-list-icon><i class="fas fa-user-md"
                              aria-hidden="true"
                              ></i>
                      </mat-icon>
                      <div fxFlex="10"></div>
                      <div class="sidenav-item">
                          <h5 class="lead">Petfolio Payments</h5>
                      </div>
                  </mat-list-item>

                  <mat-list-item style="padding-left: 5px;" routerLink="walkinpayment"
                  routerLinkActive="active">
                  <mat-icon  mat-list-icon><i class="fas fa-shopping-bag"
                          aria-hidden="true"
                          ></i>

                          <!-- <i class="fas fa-shopping-bag"></i> -->
                  </mat-icon>
                  <div fxFlex="10"></div>
                  <div class="sidenav-item">
                      <h5 class="lead">Walk-in Payments</h5>
                  </div>
              </mat-list-item>
              </div>
              </mat-nav-list>

      <mat-list-item routerLink="doctor-notification" routerLinkActive="active">
        <mat-icon mat-list-icon><i class="far fa-envelope" aria-hidden="true"></i></mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
            <h5 class="lead">Notifications</h5>
        </div>
       </mat-list-item>

       <mat-list-item routerLinkActive="active" (click)="expand2 = !expand2">
        <mat-icon  mat-list-icon><i class="fa fa-users"
                aria-hidden="true"
                ></i></mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
            <h5 class="lead">Settings</h5>
        </div>
        <div class="sb-sidenav-collapse-arrow">
            <i *ngIf="!expand2" class="fas fa-chevron-down" aria-hidden="true"></i>
            <i *ngIf="expand2" class="fas fa-chevron-up" aria-hidden="true"></i>
        </div>
          </mat-list-item>
          <mat-nav-list style="background: #125071;padding-left: 5px;" *ngIf="expand2">
            <div class="sub-menu">
              <!-- <mat-list-item style="padding-left: 5px;" routerLink="doctor-profile"
                  routerLinkActive="active">
                  <mat-icon  mat-list-icon><i class="fas fa-user-md"
                          aria-hidden="true"
                          ></i>
                  </mat-icon>
                  <div fxFlex="10"></div>
                  <div class="sidenav-item">
                      <h5 class="lead">Edit Profile</h5>
                  </div>
              </mat-list-item> -->

              <mat-list-item style="padding-left: 5px;" routerLink="doctor-edit-calendar"
              routerLinkActive="active">
              <mat-icon  mat-list-icon><i class="fas fa-shopping-bag"
                      aria-hidden="true"
                      ></i>

                      <!-- <i class="fas fa-shopping-bag"></i> -->
              </mat-icon>
              <div fxFlex="10"></div>
              <div class="sidenav-item">
                  <h5 class="lead">Edit calendar</h5>
              </div>
          </mat-list-item>

          <mat-list-item style="padding-left: 5px;" routerLink="doctor-holiday"
          routerLinkActive="active">
          <mat-icon  mat-list-icon><i class="fas fa-user-tie"
                  aria-hidden="true"
                  ></i>
          </mat-icon>
          <div fxFlex="10"></div>
          <div class="sidenav-item">
              <h5 class="lead">Holidays</h5>
          </div>
          </mat-list-item>


          <mat-list-item style="padding-left: 5px;" routerLink="showhidenappointments"
          routerLinkActive="active">
          <mat-icon  mat-list-icon><i class="fas fa-user-tie"
                  aria-hidden="true"
                  ></i>
          </mat-icon>
          <div fxFlex="10"></div>
          <div class="sidenav-item">
              <h5 class="lead">Hidden Appointments</h5>
          </div>
          </mat-list-item>


          </div>
          </mat-nav-list>


        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <section class="container-fluid">
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-content>
</mat-drawer-container>
