<h4 class="title">Coupon Code Create</h4>

<div class="card-box">
    <div class="row" style="padding: 0px 0px 23px 10px;">
        <div class="col-md-4">
            <h5 class="form-lable">Discount %:</h5>
            <input   type="text" size="30" pInputText style="width: 100%; border: 1px solid #a6a6a6"
                placeholder="Discount" class="skill-in">
        </div>
       
        <div class="col-md-4">
            <h5 class="form-lable">Max discount amount:</h5>
            <input   type="text" size="30" pInputText style="width: 100%; border: 1px solid #a6a6a6"
                placeholder="Max discount amount" class="skill-in">
        </div>
        <div class="col-md-4">
            <h5 class="form-lable">Min billing amount:</h5>
            <input   type="text" size="30" pInputText style="width: 100%; border: 1px solid #a6a6a6"
                placeholder="Min billing amount" class="skill-in">
        </div>
        <div class="col-md-4">
            <h5 class="form-lable">Coupon code:</h5>
            <input   type="text" size="30" pInputText style="width: 100%; border: 1px solid #a6a6a6"
                placeholder="Coupon code" class="skill-in">
        </div>
        <div class="col-md-4">
            <h5 class="form-lable">Category:</h5>

            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="Category" [(ngModel)]="selectedItems">
            </ng-multiselect-dropdown>
          
        </div>
        <div class="col-md-4">
            <h5 class="form-lable">Vendors:</h5>

            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="Vendors" [(ngModel)]="selectedItems">
            </ng-multiselect-dropdown>
            
        </div>      
        <div class="col-md-4">
            <h5 class="form-lable">Start Date</h5>
            <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="col-md-4">
            <h5 class="form-lable">End Date</h5>
            <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="col-md-4">
            <h5 class="form-lable">Max time</h5>
            <input   type="text" size="30" pInputText style="width: 100%; border: 1px solid #a6a6a6"
                placeholder="Max time" class="skill-in">
        </div>
        <div class="col-md-4">
            <h5 class="form-lable">Applicable on </h5>
            <input   type="checkbox" id="week"  style="margin-right: 8px;"> <label for="week" style="margin-right: 15px;"> week days</label>
            <input   type="checkbox"  id="weekd"  style="margin-right: 8px;"> <label for="weekd"> weekends</label>
        </div>
        <!-- <div class="col-md-6 pad-10px" style="padding-top: 35px;">
            <button  class="fil-btn-ad " type="button">Create</button>
            <button  style="color: #fff;background-color: #333;margin-left: 15px;"
                class="fil-btn-ad " type="button">Clear</button>
        </div> -->
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" style="margin-left: 10px;margin-top: 24px;">Create</button>
        </div>

    </div>
</div>




<p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
    <!-- <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="50">
                <h5 style="color:#fff;">Entry Type List</h5>
            </div>
            <div fxFlex="50">
                <div class="ui-table-globalfilter-container">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" (input)="tt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Entry Type">
                </div>
            </div>

        </div>

    </ng-template> -->
    <ng-template pTemplate="header">
        <tr class="thhead">
            <th class="th-1">
                S.No
            </th>
            <th>
                Discount %
            </th>
            <th>Max discount amount</th>
            <th>Min billing amount</th>
            <th>Coupon code</th>
            <th>Category</th>
            <th>Vendors</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Max time</th>
            <th>Applicable on </th>
            <th>Modified by</th>
            <th>Created at</th>
            <th>Modified at</th>
            <th style="width: 163px;text-align:center">
                Action
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr class="tdrow">
            <td>{{i+1}}</td>
            <td>
                5
            </td>
            <td>
                200
            </td>
            <td>
                100
            </td>
            <td>
                ASDFGHJKL
            </td>
            <td>
                Pet Services
            </td>
            <td>
                Pet Services
            </td>
            <td>
                12-9-2020
            </td>
            <td>
                20-10-2020
            </td>
            <td>
                2
            </td>
            <td>
                Week days
            </td>
            <td>
                User
            </td>
            <td>
               8-10-2020
            </td>
            <td>
                8-10-2020
            </td>
            <td class="act">
                <i style="color: #2196f3;" class="fa fa-pencil-square-o" aria-hidden="true" pTooltip="Edit"></i>
                <i style="color: #fd2c3a;" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"></i>
                <i style="color: #4CAF50;" class="fa fa-info-circle" aria-hidden="true" pTooltip="View"></i>
            </td>
        </tr>
    </ng-template>
</p-table>